.chatbox {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2196f3;
  color: white;
}

.chat-content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
}

.user-message {
  align-self: flex-end;
}

.ai-message {
  align-self: flex-start;
}

.message-bubble {
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.time-stamp {
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

body {
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #2c3e50;
}

#image-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#image-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#prediction-result {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#upload-status {
  font-size: 1em;
  margin-bottom: 10px;
}