<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Health Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body {
            text-align: center;
        }

        #video-container {
            width: 600px;
            height: 450px;
            margin: auto;
            border: 1px solid black;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            background-color: #f4f4f9;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0" style ="font-weight: bold;">AI Health Assistant</h4>
                    </div>
                    <div class="card-body chat-content">
                        <div class="media user-message mb-3">
                            <div class="media-body message-bubble">
                                <div id="video-container">
                                    <img src="/video" />
                                </div>
                                <p class="mb-0" style ="font-weight: bold;">Hola soy un chat medico ¿En que te puedo colaborar?</p>
                            </div>
                        </div>
                        <div class="media ai-message mb-3"></div>
                    </div>
                    <div class="card-footer chat-input">
                        <input type="text" class="form-control" id="input" placeholder="Escriba su consulta médica...">
                        <button class="btn btn-primary" id="buscar" style ="font-weight: bold;">Enviar</button>
                        <button class="btn btn-primary" id="buscarPorVoz" style ="font-weight: bold;">Voz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h1 class="text-center" style="color: #333333; font-weight: bold; margin-top: 30px; margin-bottom: 30px;">Detección de Tumor Benigno o Maligno</h1>

    <!-- Formulario para cargar la imagen -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="image-form" action="/upload/" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file">
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Subir archivo" class="btn btn-primary" style="background-color: #2196f3;">
                </div>
            </form>
        </div>
    </div>

    <!-- Elementos para mostrar la imagen cargada -->
    <div id="image-container" class="mt-5" style="display: none; width: 80%; margin: 0 auto;">
        <p id="prediction-result" style="font-size: 1.5em; font-weight: bold; color: #ff5722; margin-bottom: 10px;"></p>
        <p id="upload-status" style="font-size: 1.2em; color: #4caf50; margin-bottom: 10px;"></p>
        <img id="uploaded-image" src="" alt="Imagen cargada" style="max-width: 100%; height: auto; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-top: 20px;">
    </div>
     
</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        // Escuchar el evento submit del formulario
        $("#image-form").submit(function (event) {
            event.preventDefault(); // Prevenir el envío del formulario
    
            // Obtener el formulario y los datos del archivo
            var formData = new FormData(this);
    
            // Enviar la solicitud al servidor
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // Mostrar el resultado de la predicción y el estado de carga
                    $("#prediction-result").text("Resultado: " + response.result);
                    $("#upload-status").text("Estado de carga: Completo");
    
                    // Mostrar la imagen cargada
                    $("#uploaded-image").attr("src", URL.createObjectURL(formData.get("file")));
                    $("#image-container").show(); // Mostrar los resultados y la imagen
                },
                error: function (xhr, status, error) {
                    // Manejar el error
                    console.error("Error:", error);
                }
            });
        });
    </script>
    
    
</body>

</html>
